<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org/extras/core">
<!DOCTYPE html>
<head>
    <title>Prog.kiev.ua</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <table>
        <tr>
            <td><h4><a th:href="@{/clientPage}">Car Service. Client page.</a></h4></td>
            <td><li style="list-style-type: none;"><a th:href="@{/logout}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a></li></td>
        </tr>
    </table>
    <th:block th:if="${incorrectEmail}">
        <h4 style="color: red;">Incorrect email!</h4>
    </th:block>
    <form th:action="@{/clientPage/saveUserChanges}" th:object="${User}" method="post">
        <table class="editable-table">
            <thead>
            <tr>
                <td><b>Login</b></td>
                <td><b>Password</b></td>
                <td><b>Email</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{login}" th:readonly="true"/></td>
                <td><input type="password" th:field="*{password}" minlength="8" maxlength="50"/></td>
                <td><input type="email" th:field="*{email}" required maxlength="50"/></td>
                <td>
                    <button type="submit">Save changes</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <h4>Current inspections</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>License plate number</b></td>
            <td><b>Inspection name</b></td>
            <td><b>Date</b></td>
            <td><b>Time</b></td>
        </tr>
        </thead>
        <th:block th:each="entity : ${inspectionsSchedule}"><tr>
            <td th:text="${entity.car.licensePlateNumber}"></td>
            <td th:text="${entity.technicalInspection.name}"></td>
            <td th:text="${#dates.format(entity.maintenanceDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${entity.maintenanceTime.getHours}"></td>
        </tr>
        </th:block>
    </table>
    <form th:action="@{/clientPage/singUpForAppointment}" th:object="${clientScheduleData}" method="post">
        <h4>Select car</h4>
        <select th:field="*{selectedLicensePlateNumber}">
            <option th:each="manu : ${licensePlateNumbers}"
                    th:value="${manu}"
                    th:text="${manu}"
            ></option>
        </select>
        <h4>Free Time Windows for Inspection</h4>
        <select th:field="*{selectedDateTime}">
            <option th:each="dataTime : ${freeDataTimes}"
                    th:value="${dataTime}"
                    th:text="${dataTime}"
            ></option>
        </select>
        <br>
        <br>
        <div th:if="${hasCar}">
            <button type="submit">Choose</button>
        </div>
        <div th:unless="${hasCar}">
            You do not have registered car. Contact your manager.
        </div>
    </form>
</div>
</body>
</html>