<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prog.kiev.ua</title>
</head>
<body>
<h4> Add new customUser </h4>
<div >
    <form th:action="@{/saveNewUser}" th:object="${newUser}" method="post">
        <table class="editable-table">
            <thead>
            <tr>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th:block th:if="${exist}">
                    <h4 style="color: red;"> User with same login already exist!</h4>
                </th:block>
                <th:block th:if="${emptyLogin}">
                    <h4 style="color: red;">Login cannot be empty!</h4>
                </th:block>
                <td><input type="text" th:field="*{login}"/></td>
                <th:block th:if="${badPassword}">
                    <h4 style="color: red;">Password cannot be less than 8 characters!</h4>
                </th:block>
                <td><input type="password" th:field="*{password}" /></td>
                <th:block th:if="${badEmail}">
                    <h4 style="color: red;">Incorrect email!</h4>
                </th:block>
                <td><input type="text" th:field="*{email}" /></td>
                <td>
                    <button type="submit">Save changes</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>