<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org/extras/core">
<!DOCTYPE html>
<head>
    <title>Prog.kiev.ua</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h4><a th:href="@{/}">Car Service</a></h4>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="groupList" class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Entities <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/car/all}">View car list</a></li>
                            <li><a th:href="@{/manufacturer/all}">View manufacturers list</a></li>
                            <li><a th:href="@{/client/all}">View clients list</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Service <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/sparePart/all}">Spare parts</a></li>
                            <li><a th:href="@{/serviceWork/all}">Service works</a></li>
                            <li><a th:href="@{/technicalInspection/all}">Scheduled technical inspections</a></li>
                            <li><a th:href="@{/maintenanceSchedule/all}">Maintenance Schedule</a></li>
                            <li><a th:href="@{/gpsTracker/all}">Gps tracker data</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Stock <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/stock/all}">View stock</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/editPersonalData}">Edit personal data</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h4> Spare parts </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>Id</b></td>
            <td><b>Spare part</b></td>
            <td><b>quantity</b></td>
        </tr>
        </thead>
        <th:block th:each="entity : ${entities}">
            <tr>
                <td th:text="${entity.id}"></td>
                <td th:text="${entity.sparePart.name}"></td>
                <td th:text="${entity.quantity}"></td>
                <td>
                    <a th:href="@{/stock/edit(id=${entity.id})}">Edit</a>
                    <a th:href="@{/stock/delete(id=${entity.id})}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <th:block th:if="${allPages != null}">
                <th:block th:each="i : ${#numbers.sequence(1, allPages)}">
                    <li><a th:href="@{/stock/all(page=${i-1})}" th:text="${i}"></a></li>
                </th:block>
            </th:block>
        </ul>
    </nav>
    <br>
    <h4 th:text="${actionTitle}"></h4>
    <form th:action="@{/stock/save}" th:object="${newEntity}" method="post">
        <table class="editable-table">
            <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Spare part</b></td>
                <td><b>quantity</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{id}" th:readonly="true"/></td>
                <td>
                    <select th:field="*{sparePart.sparePartId}">
                        <option th:each="manu : ${spareParts}"
                                th:value="${manu.sparePartId}"
                                th:text="${manu.name}"
                                th:selected="${newEntity.sparePart != null and manu.sparePartId == newEntity.sparePart.sparePartId}"></option>
                    </select>
                </td>
                <td><input type="text" th:field="*{quantity}" /></td>
                <td>
                    <button type="submit">Save changes</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <h4> Find spare part </h4>
    <form th:action="@{/stock/find}" th:object="${findParams}" method="post">
        <table class="editable-table">
            <thead>
            <tr>
                <td><b>Find value</b></td>
                <td><b>Field name</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{value}" /></td>
                <td>
                    <select th:field="*{fieldName}">
                        <option th:each="name : ${fieldsList}"
                                th:value="${name}"
                                th:text="${name}"
                                th:selected="${name == findParams.fieldName}"></option>
                    </select>
                </td>
                <td>
                    <button type="submit">Find Spare Part</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>
</body>
</html>