<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multiple Groups</title>
</head>
<body>

<!-- Repeat the structure for three groups -->
<th:block th:each="groupIndex : ${#numbers.sequence(1, 3)}">
    <label th:for="${'inputField' + groupIndex}">Input Field:</label>
    <input type="text" th:id="${'inputField' + groupIndex}" th:name="${'inputField' + groupIndex}" th:value="${'inputField' + groupIndex}" />

    <!-- Radio buttons -->
    <label th:for="${'radioOption1' + groupIndex}">Option 1:</label>
    <input type="radio" th:id="${'radioOption1' + groupIndex}" th:name="${'radioOption' + groupIndex}" value="option1" th:checked="${'option1' == #strings.toString(model['radioOption' + groupIndex])}" />

    <label th:for="${'radioOption2' + groupIndex}">Option 2:</label>
    <input type="radio" th:id="${'radioOption2' + groupIndex}" th:name="${'radioOption' + groupIndex}" value="option2" th:checked="${'option2' == #strings.toString(model['radioOption' + groupIndex])}" />

    <br/>
</th:block>
<th:block th:each="groupIndex : ${#numbers.sequence(1, 3)}">
    <label th:for="${'inputField' + groupIndex}">Input Field:</label>
    <input type="text" th:id="${'inputField' + groupIndex}" th:name="${'inputField' + groupIndex}" th:value="${'inputField' + groupIndex}" />

    <!-- Radio buttons -->
    <label th:for="${'radioOption1' + groupIndex}">Option 1:</label>
    <input type="radio" th:id="${'radioOption1' + groupIndex}" th:name="${'radioOption' + groupIndex}" value="option1" th:checked="${'option1' == #strings.toString(model['radioOption' + groupIndex])}" />

    <label th:for="${'radioOption2' + groupIndex}">Option 2:</label>
    <input type="radio" th:id="${'radioOption2' + groupIndex}" th:name="${'radioOption' + groupIndex}" value="option2" th:checked="${'option2' == #strings.toString(model['radioOption' + groupIndex])}" />

    <br/>
</th:block>

<button type="submit">Submit</button>

</body>
</html>